<mat-toolbar color="primary">
    <span class="toolbar-elements"><a mat-icon-button [routerLink]="['/']"><mat-icon>home</mat-icon></a></span>
    <span class="toolbar-elements"><a mat-button [routerLink]="['/groups']">Groups</a></span>
    <span class="toolbar-elements"><a mat-button [routerLink]="['/facilities']">Facilities</a></span>
    <span class="toolbar-fill-remaining-space"></span>
    <span class="toolbar-elements">
        <button type="button" *ngIf="!isLoggedIn" mat-stroked-button (click)="login()">Login</button>
        <button type="button" *ngIf="isLoggedIn" mat-stroked-button (click)="logout()">Logout</button>
    </span>
</mat-toolbar>

<router-outlet></router-outlet>